.backImage{
    background-image: url("./img/Back_Arrow.svg.png");
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 18px;
    height: 50px;
    width: 50px;
}
.middlePart{
    background-image: url("./img/discussion.jpg");
    height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.text{
    font-size: 22px;
}
.texT{
    font-size: 32px;
}
@media only screen and (max-width: 600px) {
    .middlePart{
        background-image: url("./img/discussion.jpg");
        height: 820px;
        width: 450vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px black;
    }    
}