.backImage{
    background-image: url("./img/Back_Arrow.svg.png");
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 18px;
    height: 50px;
    width: 50px;
}
.middlePart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("./img/bianca_25x40\,qnuMpq2lq3GXrsaOZ6Qkk.png");
    height: 720px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.title{
    font-size: 37px;
    margin-left: 120px;
}
.paragraph{
    font-size: 21px;
    margin-left: 20px;
    width: 600px;
}
.button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    height: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    margin-top: 390px;
    margin-left: 200px;
    text-decoration: none;
}
.button2{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    height: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    margin-top: 370px;
    margin-left: 270px;
    text-decoration: none;
}
.button3{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    height: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    margin-top: 420px;
    margin-left: 300px;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.267);
    border: 2px solid rgb(39, 39, 39);
}
.button2:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.267);
    border: 2px solid rgb(39, 39, 39);
}.button3:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.267);
    border: 2px solid rgb(39, 39, 39);
}
.myServices{
    font-size: 45px;
    margin: 25px;
    color: rgb(14, 14, 14);
}