.backImage{
    background-image: url("../../components//english/img/Back_Arrow.svg.png");
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 18px;
    height: 50px;
    width: 50px;
}
